.vscode
#다운로드 받은 수업강의파일
*.mp4
#아두이노폴더 및 프로그램
4-1. 사물인터넷/수업자료(ppt_pdf)/Arduino/
#C#실행파일
bin
obj
*.zip
.vs
*.hwp
*.png
*.pdf
*.pptx
*.class
*.jar

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
