/*header.jsp*/
.bookMenu {
    padding-left: 20px;
    background-color: #3d3d3d;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    align-items: center;
}

a {
    margin-left: 20px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

/*index.jsp*/
.indexMainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainPage {
    background-color: #eaeaea;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageTitle {
    font-weight: bold;
    font-size: 30px;
}

.subInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.welcomeMessage {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

/*footer.jsp*/
.pageAdminInfo {
    border-top: 1px solid gray;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*BookInsertForm.jsp*/
.bookInsertFormHeader {
    background-color: #eaeaea;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.bookInsertFormHeader-title {
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
}

/*bookInfo.jsp*/
.bookInfo,
.bookListInfo {
    background-color: #eaeaea;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.bookInfo-text,
.bookListInfo-header {
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
}

.bookInfoMainFrame-info-title-name,
.bookListInfo-mainFrame-info-header {
    margin: 0px;
}

.bookInfoMainFrame {
    width: 100%;
    height: auto;
}

.bookInfoMainFrame-image {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.bookInfoMainFrame-image img {
    width: 330px;
    height: 370px;
}
.bookInfoMainFrame-info {
    margin-left: 50px;
    float: left;
    width: 70%;
}

.bookInfoMainFrame-info-bookInfo {
    width: 900px;
}

/*BookList.jsp*/

.bookListInfo {
    width: 100%;
}

.bookListInfo-mainFrame {
    width: 100%;
    height: auto;
}

.bookListInfo-mainFrame-image {
    float: left;
}

.bookListInfo-mainFrame-info {
    width: 60%;
    float: left;
}

.bookListInfo-mainFrame-image {
    margin-top: 10px;
    margin-left: 50px;
}

.bookListInfo-mainFrame-image img {
    width: 160px;
    height: 200px;
}

.bookListInfo-mainFrame-info {
    margin-left: 50px;
}

.bookListInfo-mainFrame-info-explanation {
    margin-bottom: 20px;
}
